.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #ff8166;
  height: 45px;
}

.header h1 {
  font-size: 2rem;
  margin-left: 1rem;
  color: #000000;
}

.header img {
  width: 75px;
  height: 75px;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 300px;
  height: 100vh;
}

.dashboard-button {
  background-color: #ffffff;
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
  width: 210px;
  height: 45px;
}

.dashboard-button span {
  color: #000000;
  font-size: 1.05rem;
  margin-left: 1.5rem;
}

.dashboard-button img {
  width: 3px;
  height: 37.5px;
  margin-left: 1.5rem;
}

.dashboard-button:hover {
  background-color: #ff7644;
}

.dashboard-button:hover span {
  color: #fff;
}

.dashboard-button:hover img {
  filter: invert(100%);
}

.setting-button span {
  font-size: 1.05rem;
  margin-left: 1.5rem;
}

.setting-button img {
  width: 3px;
  height: 3px;
  margin-left: 1.5rem;
}

.topBar {
  padding-left: 15px;
}

#bottomBar {
  margin-top: 127.5%; /* Ajusté si nécessaire pour le positionnement */
  width: 90%; /* Assure-toi que cela a du sens visuellement */
}

#topBar > * > a{
  display: grid;
  grid-template-columns: 2fr 8fr;
  border-radius: 0.75rem;
  cursor: pointer; /* Ajoute cette ligne pour que le curseur devienne une main */

}
#bottomBar > * > a {
  display: grid;
  grid-template-columns: 2fr 8fr;
  border-radius: 0.75rem;
  cursor: pointer; /* Ajoute cette ligne pour que le curseur devienne une main */
  border: 1px solid transparent; /* Ajoute un bord transparent par défaut */
  margin: 10px;
  transition: border-color 0.1s ease-in-out; /* Ajoute une transition pour le bord */

}

#bottomBar > * > a:hover {
  border-color: grey; /* Change la couleur du bord au survol */
}

#topBar > * > a span
{
  margin-left: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#bottomBar > * > a span {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  color: grey ;
}

#topBar > * > a img
{
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: center;
}

#bottomBar > * > a img {
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: center;
  filter: invert(50%);
}


.mic img {
  width: 75px;
  height: 75px;
}

.mic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25%;
  background-color: #ff8166;
  border-radius: 30px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-left: 5rem;
  transform: scale(0.8);
  cursor: pointer; /* Ajoute cette ligne pour que le curseur devienne une main */

}

























  .content {
    /* Styles pour le contenu principal */
  }
  
  .content-section {
    /* Styles pour les sections individuelles de contenu */
  }
  
  /* Ajoute des styles supplémentaires pour les éléments spécifiques comme les boutons, les champs de formulaire, etc. */
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; 
    /* Définis cette valeur à 0 ou toute autre valeur souhaitée */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
 