.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #ff8166;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header h1 {
    font-size: 2rem;
    margin-left: 1rem;
    color: #000000;
  }
  
  .header img {
    width: 75px;
    height: 75px;
  }
  