.App {
  text-align: center;
  display: flex;
  flex-direction: column; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc-header-toolbar .fc-button {
  background-color: transparent;
  color: #282c34; /* Remplacez par la couleur de votre choix */
}

.fc-header-toolbar .fc-button:hover {
  background-color:#fa7d57; /* Remplacez par la couleur de votre choix lors du survol */
}

.fc-header-toolbar .fc-button:active {
  background-color:#fa7d57; /* Remplacez par la couleur de votre choix lors du clic */
}

.tooltip {
  border-radius: 10px; /* Bords arrondis */
  background-color: #fa7d57; /* Fond gris clair */
  color: #333; /* Texte gris foncé */
  padding: 10px; /* Espace intérieur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
  z-index: 1000; /* Au-dessus de tout */
  position: relative;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fa7d57 transparent transparent transparent;
}

.tooltip[placement^='left']::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #fa7d57;
}


.tooltip .tooltip-inner {
  white-space: pre-line;
}

.tooltip .tooltip-inner::before {
  content: attr(data-original-title);
  visibility: visible;
  display: block;
  text-align: left;
}

.tooltip .tooltip-inner[data-original-title*='-']::before {
  content: replace(attr(data-original-title), ' - ', "\A");
}